$default-font-family: 'Montserrat', sans-serif;
$default-font-size: 1.5rem;
$color-primary-1: #a3a8f0;
$color-primary-2: #696fdd;
$color-primary-linear: linear-gradient(
    to right,
    #a3a8f0,
    #696fdd);
$color-neutral-1: #f6f6fe;
$color-neutral-2: #b3b5c6;
$color-neutral-3: #6d708d;
$color-neutral-4: #494c5f;
$color-white: #ffff;